@media (max-width: 1180px) {
  .brandIconBox {
    width: 8em;
    height: 8em;
  }
}

@media (max-width: 1000px) {
  .showName {
    font-size: 50px;
  }
}

@media (max-width: 600px) {
  #shopping-cart.show {
    width: 100dvw;
    position: fixed;
    right: 0;
    background-color: white;
    will-change: auto;
    min-height: 100dvh;
  }
  .sidebar:hover {
    width: 60px;
  }
  nav li:hover {
    box-shadow: none;
    margin-left: 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
  }
}

@media (max-width: 400px) {
  .brandIconBox {
    width: 6em;
    height: 6em;
  }
  .navigationLinkBox {
    flex-wrap: wrap;
  }
  .showName {
    font-size: 40px;
  }
}

@media(max-width:370px){
  .navigationLinkBox{
    width: 100%;
  }
}
