::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(120, 0, 150);
}
::-webkit-scrollbar-thumb {
  background-color: blueviolet;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent 50%
  );
  border-radius: 10px;
}

#articles::-webkit-scrollbar {
  width: 0;
  background:none;
}
#articles::-webkit-scrollbar-thumb{
  height: 0;
  background-color: none;
}